/* Start common */
.tbody-primary td:hover,
.hover-text-click:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
/* End common */

/* Start header */
.header-content {
    height: 8vh;
}

.nav-item:hover {
    background-color: #ccc;
}

.btn-search-box:hover {
    background-color: blue;
    border-radius: 6px;
}

.input-search {
    position: relative;
}

.result-search {
    position: absolute;
    background-color: #212529;
    color: white;
    top: 80%;
    list-style-type: none;
    padding: 12px 0px;
}

.result-search li {
    padding: 8px 28px;
}

.result-search li:hover {
    background-color: #fff;
}
/* End header */

/* Start content */
.row-content {
    height: 92vh;
}

.table-name:hover {
    background-color: #ccc;
}

.table-show-detail-hr {
    border: 1px solid #ccc;
}

/* End content */

/* Start footer */

/* End footer */

/* Css icon completed */
#icon-loading {
    position: absolute;
    right: 50%;
    top: 50%;
    display: inline-grid;
}

.icon-loading {
    position: absolute;
    top: -30px;
    right: 22px;
}
