.header-content {
    height: 8vh;
}

.row-content {
    height: 92vh;
}

.table-name {
    cursor: pointer;
}

#icon-loading {
    position: absolute;
    right: 50%;
    top: 50%;
    display: inline-grid;
}

.icon-loading {
    position: absolute;
    top: -30px;
    right: 22px;
}